<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col s6 m4">
      <div
        (click)="goToPokemonDetails(pokemon)"
        class="card horizontal grey lighten-5 dark-text"
        pokemonBorderCard
      >
        <div class= "card-image"><img [src]="pokemon.picture" /></div>
        <div class="card-stacked"></div>
          <div class="card-content">
            <p>
              <strong>{{ pokemon.id }}. {{ pokemon.name }}</strong>
            </p>
            <p>HP : {{ pokemon.hp }}</p>
            <p>CP : {{ pokemon.cp }}</p>
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
      </div>
    </div>
  </div>
</div>
