<h1> Bienvenue sur votre pokédex !</h1>

<p>Voici une liste de 12 pokémons :</p><br>
<!-- #input = variable référencée dans le template pour un accès direct sur un élément du DOM depuis le template  -->
<!-- .enter pour ne remonter un événement que lorsque l'utilisateur appuie sur la touche entrer  cf => pseudo-events d'Angular -->
<input
    #input 
    (keyup.enter)="selectPokemon(input.value)" 
    type="number"
/>

<p *ngIf="pokemonSelected">vous avez sélectionné le pokémon : {{ pokemonSelected?.name }}</p>
<p *ngIf="!pokemonSelected">vous avez demandé un pokémon qui n'existe pas dans la base de données</p>

<p>{{pokemonList[0].name}} </p> <!-- syntaxe d'interpolation des templates {{}} pour afficher la data -->
<p>{{pokemonList[1].name}} </p> <!-- interpolation = class du composant vers le template  -->
<p>{{pokemonList[2].name}} </p> <!-- interpolation ne marche que sur les types primitifs  -->
<p>{{pokemonList[3].name}} </p>
<p>{{pokemonList[4].name}} </p>
<p>{{pokemonList[5].name}} </p>
<p>{{pokemonList[6].name}} </p>
<p>{{pokemonList[7].name}} </p>
<p>{{pokemonList[8].name}} </p>
<p>{{pokemonList[9].name}} </p>
<p>{{pokemonList[10].name}} </p>
<p>{{pokemonList[11].name}} </p>